<section class="my-20 py-12 2xl:py-5 bg-client-linear min-h-100 section-pattern section-pattern-right">
  <div class="bg-clients flex items-center justify-center flex-col text-center min-h-100">
    <div class="container mx-auto px-5 lg:px-20 min-h-100">
      <!-- Skeleton Loader -->
      @if (isLoading()) {
      <p-skeleton width="200px" height="40px" class="rounded-lg mx-auto mb-10"></p-skeleton>
      <div class="w-full flex items-center justify-center gap-2 my-10 min-h-30">
        @for (i of [1,2,3]; track i) {
        <p-skeleton [shape]="'circle'" width="128px" height="128px" class=""></p-skeleton>
        }
      </div>
      <p-skeleton width="80%" height="80px" class="rounded-lg mx-auto mb-5"></p-skeleton>
      <div class="flex items-center justify-center my-5 gap-1 min-h-10">
        @for (i of [1,2,3,4,5]; track i) {
        <p-skeleton width="20px" height="20px" class="rounded"></p-skeleton>
        }
      </div>
      <p-skeleton width="300px" height="50px" class="rounded-lg mx-auto mt-10"></p-skeleton>
      <p-skeleton width="200px" height="30px" class="rounded-lg mx-auto mt-2"></p-skeleton>
      } @else {
      <h3 class="text-2xl font-bold text-white min-h-10">اراء العملاء
      </h3>
      <div class="testimonials-container w-full flex items-center justify-center gap-2 my-10 min-h-30 relative">
        @for (testimonial of visibleTestimonials(); track testimonial.name + testimonial.title; let i = $index) {
        @let isCenter = isCenterImage(i, visibleTestimonials().length);
        <div (click)="onImageClick(i)" animate.enter="testimonial-enter" animate.leave="testimonial-leave" class="testimonial-image rounded-full overflow-hidden shadow-lg cursor-pointer transition-all duration-700 ease-in-out
                            {{ isCenter ? 'w-20 h-20 md:w-28 md:h-28 lg:w-32 lg:h-32 z-10 scale-100' : 'w-14 h-14 md:w-18 md:h-18 lg:w-20 lg:h-20 z-0 scale-90' }}
                            {{ i === 0 && !isCenter ? '-mr-4 md:-mr-6 lg:-mr-8' : '' }}
                            {{ i === 2 && !isCenter ? '-ml-4 md:-ml-6 lg:-ml-8' : '' }}
                            hover:scale-110">
          <img [ngSrc]="getResponsiveImage(testimonial.image) || '/images/placeholder.webp'"
            [alt]="testimonial.name || ''" width="128" height="128"
            class="w-full h-full object-cover object-center transition-transform duration-700">
        </div>
        }
      </div>
      <p class="text-white text-lg md:text-xl lg:text-2xl font-semibold mx-auto max-w-3xl px-4 min-h-20">{{
        centerTestimonial()?.text || '' }}</p>
      <div class="flex items-center justify-center my-5 gap-1 min-h-10 fill-[#FDD835]">
        @for (item of [1,2,3,4,5]; track $index) {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" height="20"
          class="w-4 h-4 md:w-5 md:h-5 icon-container">
          <path
            d="M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z" />
        </svg>
        }
      </div>
      <span class="block text-2xl md:text-3xl lg:text-4xl mt-10 text-white font-semibold min-h-12.5">{{
        centerTestimonial()?.name || '' }}</span>
      <span class="block text-base md:text-lg lg:text-xl mt-2 text-white font-semibold min-h-7.5">{{
        centerTestimonial()?.title || '' }}</span>
      }
    </div>
  </div>
</section>