<app-navbar class="flex justify-center items-center"></app-navbar>
<main class="relative">
    <router-outlet class="overflow-hidden"></router-outlet>
    @if(isFoundingDay) {
    <div
        class="bg-[url('/images/founding-day/decoration.png')] w-10 h-full top-0 bottom-0 bg-repeat-y left-0 absolute -z-10 bg-blend-soft-light">
    </div>
    <div
        class="bg-[url('/images/founding-day/decoration.png')] w-10 h-full top-0 bottom-0 bg-repeat-y right-0 absolute -z-10 bg-blend-soft-light">
    </div>
    }

</main>
<app-footer></app-footer>